appdirs==1.4.4
attrs==22.1.0
beautifulsoup4==4.11.1
cattrs==22.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
colorama==0.4.6
exceptiongroup==1.0.4
flake8==5.0.4
idna==3.4
lxml==4.9.1
mccabe==0.7.0
pycodestyle==2.9.1
pyflakes==2.5.0
requests==2.28.1
requests-cache==0.9.7
six==1.16.0
soupsieve==2.3.2.post1
tqdm==4.64.1
url-normalize==1.4.3
urllib3==1.26.12
prettytable==2.1.0
